<a href="https://colab.research.google.com/github/milu234/ML-Projects/blob/main/Diabetes_Prediction_using_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [82]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and Analysis

In [83]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [84]:
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [85]:
diabetes_dataset.shape

(768, 9)

In [86]:
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [87]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [88]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [89]:
# Seperating the columns 

X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']

In [90]:
# Applying for barber .

scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [91]:
standardized_data = scaler.transform(X)

In [92]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [93]:
X = standardized_data

In [94]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train test split

In [95]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [96]:
print(X_train.shape, X_test.shape)

(614, 8) (154, 8)

In [97]:
classifier = svm.SVC(kernel = 'linear')

In [98]:
#ttrainig the SVM classifier

classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Evaluation of Model

In [99]:
# Accuracy Score

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [100]:
print(training_data_accuracy)
#Accuracy Score of train data

0.7866449511400652

In [101]:
X_test_prediction = classifier.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(testing_data_accuracy)
#Accuracy Score of test data

0.7727272727272727

Making a Predictive System
0,137,40,35,168,43.1,2.288,33,1

In [102]:


input_data = (0,137,40,35,168,43.1,2.288,33)
# input_data = (5,116,74,0,0,25.6,0.201,30)

In [103]:
# Predictor function for diabetes

def predict_diabetes(input_data,scaler,classifier):
  status = ''
  input_data_as_np_array = np.asarray(input_data)
  input_data_reshape = input_data_as_np_array.reshape(1,-1)
  std_data = scaler.transform(input_data_reshape)
  prediction_one = classifier.predict(std_data)

  if prediction_one[0] == 1:
    status = 'Diabeteic'
  else:
    status = 'Non Diabetic'

  return status

  

print(predict_diabetes(input_data , scaler, classifier))

Diabeteic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"